@page "/"
@using InvestmentPredictor
@inject IInvestmentCalculator Calc

<PageTitle>Investment Calculator</PageTitle>

<div class="container-md  card shadow mt-2>"
	<div class="container-md bg-light mb-2 rounded-pill "
	<h2>Investment predictor</h2>
	</div> 
<label class="form-label font-weight-bold"> Initial Investment	</label>
<input type="number" class="form-control" @bind=initialAmount />
<label class="form-label font-weight-bold"> Period</label>
<input type="number" class="form-control" @bind=period />
<label class="form-label font-weight-bold" placeholder="Enter your monthly subsidy" > Monthly Subsidy</label> 
<input type="number" class="form-control"  @bind=monthlySubsidy />
<label class="form-label font-weight-bold"> Choose your index</label>




	</div>



	@code{
		private decimal? initialAmount;
		private decimal? period;
		private int? monthlySubsidy;
	}