@page "/"
@using InvestmentPredictor
@inject IInvestmentCalculator Calc

<PageTitle>Investment Calculator</PageTitle>

<div class="container-md card shadow mt-2">

	<div class="bg-light mb-5 rounded-pill  text-center fw-bolder">
		<h1>Investment predictor</h1>
	</div>

	<div class="mb-3">
	<label class="form-label font-weight-bold"> Initial Investment	</label>
	<input type="number" class="form-control" @bind=initialAmount />
	</div>

	<div class="mb-3">
	<label class="form-label font-weight-bold"> Period</label>
	<input type="number" class="form-control" @bind=period />
	</div>

	<div class="mb-3">
	<label class="form-label font-weight-bold" placeholder="Enter your monthly subsidy" > Monthly Subsidy</label>
	<input type="number" class="form-control align-items-lg-end"  @bind=monthlySubsidy />
	
	</div>

	<div class="mb-3">
		<label class="form-label font-weight-bold"> Choose your index</label>
		<select class="form-select" @bind="chosenIndex">
			@foreach (var index in Enum.GetValues<MarketIndex>())
			{
				if (index == MarketIndex.Custom)
				{
					<option value="@index">@index </option>
				}else{
					<option value="@index">@index - @Calc.GetIndexAnnualReturn(index).ToString("F1") %</option>
				}

			}
		</select>

			@if (chosenIndex == MarketIndex.Custom)
			{
				<div class="container my-3">
				<label class="form-label font-weight-bold"> Enter your annual return</label>
					<input type="number" class="form-control" @bind=customRate/>
				</div>
			}

		
	</div>
	<div class="col form-switch">
		
		<input class="form-check-input" type="checkbox" id=tax @bind=includeTax />
		<label class="form-label font-weight-bold ms-1" >Substract 19% tax from the profit </label>
	</div>

	<button class="btn-success btn-lg w-100" @onclick=Calculate>Calculate</button> 




</div>



@code {

	private bool includeTax=false;
	private decimal? initialAmount;
	private int period = 1;
	private decimal? monthlySubsidy;
	private MarketIndex chosenIndex = MarketIndex.SP500;
	private decimal? customRate;
	private decimal indexRate = 0;
	

	private void Calculate()
	{
		var inputParams = new CalculatorParams(chosenIndex, monthlySubsidy.GetValueOrDefault(), initialAmount.GetValueOrDefault(), customRate.GetValueOrDefault(), indexRate, period);
		if(customRate==null){
			indexRate = Calc.GetIndexAnnualReturn(chosenIndex);
		}
		else
		{
			indexRate = customRate.GetValueOrDefault();
		}
	}
	
}